# Export user functions
export("bafta", "bafta.default", "print.bafta", "summary.bafta", 
       "plot.bafta")

# Import package snowfall
import("snowfall")
importFrom("grDevices", "adjustcolor", "rainbow")
importFrom("graphics", "axis", "layout", "legend", "lines", "mtext",
             "par", "plot", "polygon")
importFrom("stats", "as.formula", "cor", "density", "dnorm", "formula",
           "model.matrix", "pnorm", "qnorm", "quantile", "rbeta",
           "rnorm", "runif", "sd", "terms", "var", "dpois", "ppois", "rpois",
           "qpois", "dexp", "pexp", "rexp", "qexp", "dgamma", "pgamma", 
           "rgamma", "qgamma", "dnbinom", "pnbinom", "qnbinom", "rnbinom")
importFrom("utils", "packageDescription")

# S3 methods for exported functions:
S3method("bafta", "default")
S3method("print", "bafta")
S3method("summary", "bafta")
S3method("plot", "bafta")